openapi: 3.1.0
info:
  title: UniFi Network API
  description: ''
  license: {}
  version: 10.0.162
servers:
- url: https://api.ui.com/v1/connector/consoles/{consoleId}/proxy/network/integration
  description: UniFi API Cloud Connector
  variables:
    consoleId:
      default: 942A6FF664C0000000000964970E0000000009E710560000000068A9873F:9999999999
      description: ID of the console to proxy requests to
- url: https://{consoleIP}/proxy/network/integration
  description: Local Console
  variables:
    consoleIP:
      default: 192.168.0.1
      description: IP address of the console on the local network
tags:
- name: Getting Started
  description: "Provides an overview of the UniFi Network API, including authentication\
    \ using API keys and request format. \nStart here to understand how to connect\
    \ and make your first request.\n\n### Introduction\n\nEach UniFi Application has\
    \ its own API endpoints running locally on each site,\noffering detailed analytics\
    \ and control related to that specific application.\nFor a single endpoint with\
    \ high-level insights across all your UniFi sites,\nrefer to the [UniFi Site Manager\
    \ API](https://developer.ui.com).\n\n### Authentication and Request Format\n\n\
    An API Key is a unique identifier used to authenticate API requests.\nTo generate\
    \ API Keys and view an example of the API Request Format,\nvisit the Integrations\
    \ section of your UniFi application."
- name: Filtering
  description: 'Explains how to use the filter query parameter for advanced querying
    across list endpoints,

    including supported property types, syntax, and operators.


    Some `GET` and `DELETE` endpoints support filtering using the `filter` query parameter.

    Each endpoint supporting filtering will have a detailed list of filterable properties,
    their types, and allowed functions.


    ### Filtering Syntax


    Filtering follows a structured, URL-safe syntax with three types of expressions.


    #### 1. Property Expressions


    Apply functions to an individual property using the form `<property>.<function>(<arguments>)`,

    where argument values are separated by commas.


    Examples:


    - `id.eq(123)` checks if `id` is equal to `123`;

    - `name.isNotNull()` checks if `name` is not null;

    - `createdAt.in(2025-01-01, 2025-01-05)` checks if `createdAt` is either `2025-01-01`
    or `2025-01-05`.


    #### 2. Compound Expressions


    Combine two or more expressions with logical operators using the form `<logical-operator>(<expressions>)`,

    where expressions are separated by commas.


    Examples:


    - `and(name.isNull(), createdAt.gt(2025-01-01))` checks if `name` is null **and**
    `createdAt` is greater than `2025-01-01`;

    - `or(name.isNull(), expired.isNull(), expiresAt.isNull())` check is **any** of
    `name`, `expired`, or `expiresAt` is null.


    #### 3. Negation Expressions


    Negate any other expressions using the the form `not(<expression>)`.


    Example:


    - `not(name.like(''guest*''))` matches all values except those that start with
    `guest`.


    ### Filterable Property Types


    The table below lists all supported property types.


    |Type|Examples|Syntax|

    |-|-|-|

    |`STRING`|`''Hello, ''''World''''!''`|Must be wrapped in single quotes. To escape
    a single quote, use another single quote.|

    |`INTEGER`|`123`|Must start with a digit.|

    |`DECIMAL`|`123`, `123.321`|Must start with a digit. Can include a decimal point
    (.).|

    |`TIMESTAMP`|`2025-01-29`, `2025-01-29T12:39:11Z`|Must follow ISO 8601 format
    (date or date-time).|

    |`BOOLEAN`|`true`, `false`|Can be `true` or `false`.|

    |`UUID`|`550e8400-e29b-41d4-a716-446655440000`|Must be a valid UUID format (8-4-4-4-12).|

    |`SET(STRING\|INTEGER\|DECIMAL\|TIMESTAMP\|UUID)`|`[1, 2, 3, 4, 5]`|A set of (unique)
    values.|


    ### Filtering Functions


    The table below lists available filtering functions, their arguments, and applicable
    property types:


    |Function|Arguments|Semantics|Supported property types|

    |-|-|-|-|

    |`isNull`|0|is null|all types|

    |`isNotNull`|0|is not null|all types|

    |`eq`|1|equals|`STRING`, `INTEGER`, `DECIMAL`, `TIMESTAMP`, `BOOLEAN`, `UUID`|

    |`ne`|1|not equals|`STRING`, `INTEGER`, `DECIMAL`, `TIMESTAMP`, `BOOLEAN`, `UUID`|

    |`gt`|1|greater than|`STRING`, `INTEGER`, `DECIMAL`, `TIMESTAMP`, `UUID`|

    |`ge`|1|greater than or equals|`STRING`, `INTEGER`, `DECIMAL`, `TIMESTAMP`, `UUID`|

    |`lt`|1|less than|`STRING`, `INTEGER`, `DECIMAL`, `TIMESTAMP`, `UUID`|

    |`le`|1|less than or equals|`STRING`, `INTEGER`, `DECIMAL`, `TIMESTAMP`, `UUID`|

    |`like`|1|matches pattern|`STRING`|

    |`in`|1 or more|one of|`STRING`, `INTEGER`, `DECIMAL`, `TIMESTAMP`, `UUID`|

    |`notIn`|1 or more|not one of|`STRING`, `INTEGER`, `DECIMAL`, `TIMESTAMP`, `UUID`|

    |`isEmpty`|0|is empty|`SET`|

    |`contains`|1|contains|`SET`|

    |`containsAny`|1 or more|contains any of|`SET`|

    |`containsAll`|1 or more|contains all of|`SET`|

    |`containsExactly`|1 or more|contains exactly|`SET`|


    #### Pattern Matching (`like` Function)


    The `like` function allows matching string properties using simple patterns:


    - `.` matches any **single** character. Example: `type.like(''type.'')` matches
    `type1`, but not `type100`;

    - `*` matches **any number** of characters. Example: `name.like(''guest*'')` matches
    `guest1` and `guest100`;

    - `\` is used to escape `.` and `*`.'
- name: Error Handling
  description: 'Describes the standard API error response structure, including error
    codes,

    status names, and troubleshooting guidance.'
- name: Application Info
  description: 'Returns general details about the UniFi Network application,

    including version and runtime metadata. Useful for integration validation.'
- name: Sites
  description: 'Endpoints for listing and managing UniFi sites within a local Network
    application.

    Site ID is required for most other API requests.'
- name: UniFi Devices
  description: 'Endpoints to list, inspect, and interact with UniFi devices, including
    adopted and pending devices.

    Provides device stats, port control, and actions.'
- name: Clients
  description: 'Endpoints for viewing and managing connected clients (wired, wireless,
    VPN, and guest).

    Supports actions such as authorizing or unauthorizing guest access.'
- name: Networks
  description: 'Endpoints for creating, updating, deleting, and inspecting network
    configurations

    including VLANs, DHCP, NAT, and IPv4/IPv6 settings.'
- name: WiFi Broadcasts
  description: 'Endpoints to create, update, or remove WiFi networks (SSIDs).

    Supports configuration of security, band steering, multicast filtering, and captive
    portals.'
- name: Hotspot
  description: 'Endpoints for managing guest access via Hotspot vouchers — create,
    list, or revoke vouchers

    and track their usage and expiration.'
- name: Firewall
  description: 'Endpoints for managing custom firewall zones and policies within a
    site.

    Define or update network segmentation and security boundaries.'
- name: Access Control (ACL Rules)
  description: 'Endpoints for creating, listing, and managing ACL (Access Control
    List) rule

    that enforce traffic filtering across devices and networks.'
- name: Traffic Matching Lists
  description: Endpoints for managing port and IP address lists used across firewall
    policy configurations.
- name: Supporting Resources
  description: 'Contains read-only reference endpoints used to retrieve supporting
    data

    such as WAN interfaces, DPI categories, country codes, RADIUS profiles, and device
    tags.'
paths:
  /v1/sites/{siteId}/wifi/broadcasts/{wifiBroadcastId}:
    get:
      tags:
      - WiFi Broadcasts
      summary: Get Wifi Broadcast Details
      description: Retrieve detailed information about a specific Wifi.
      operationId: getWifiBroadcastDetails
      parameters:
      - name: wifiBroadcastId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiBroadcastDetails'
    put:
      tags:
      - WiFi Broadcasts
      summary: Update Wifi Broadcast
      description: Update an existing Wifi Broadcast on the specified site.
      operationId: updateWifiBroadcast
      parameters:
      - name: wifiBroadcastId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WifiBroadcastCreateOrUpdate'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiBroadcastDetails'
    delete:
      tags:
      - WiFi Broadcasts
      summary: Delete Wifi Broadcast
      description: Delete an existing Wifi Broadcast from the specified site.
      operationId: deleteWifiBroadcast
      parameters:
      - name: wifiBroadcastId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
  /v1/sites/{siteId}/traffic-matching-lists/{trafficMatchingListId}:
    get:
      tags:
      - Traffic Matching Lists
      summary: Get Traffic Matching List
      description: Get an exist traffic matching list on a site.
      operationId: getTrafficMatchingList
      parameters:
      - name: trafficMatchingListId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficMatchingList'
    put:
      tags:
      - Traffic Matching Lists
      summary: Update Traffic Matching List
      description: Update an exist traffic matching list on a site.
      operationId: updateTrafficMatchingList
      parameters:
      - name: trafficMatchingListId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateTrafficMatchingList'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficMatchingList'
    delete:
      tags:
      - Traffic Matching Lists
      summary: Delete Traffic Matching List
      description: Delete an exist traffic matching list on a site.
      operationId: deleteTrafficMatchingList
      parameters:
      - name: trafficMatchingListId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
  /v1/sites/{siteId}/networks/{networkId}:
    get:
      tags:
      - Networks
      summary: Get Network Details
      description: Retrieve detailed information about a specific network.
      operationId: getNetworkDetails
      parameters:
      - name: networkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkDetails'
    put:
      tags:
      - Networks
      summary: Update Network
      description: Update an existing network on a site.
      operationId: updateNetwork
      parameters:
      - name: networkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateNetwork'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkDetails'
    delete:
      tags:
      - Networks
      summary: Delete Network
      description: Delete an existing network on a site.
      operationId: deleteNetwork
      parameters:
      - name: networkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: cascade
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
  /v1/sites/{siteId}/firewall/zones/{firewallZoneId}:
    get:
      tags:
      - Firewall
      summary: Get Firewall Zone
      description: Get a firewall zone on a site.
      operationId: getFirewallZone
      parameters:
      - name: firewallZoneId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallZone'
    put:
      tags:
      - Firewall
      summary: Update Firewall Zone
      description: Update a firewall zone on a site.
      operationId: updateFirewallZone
      parameters:
      - name: firewallZoneId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateFirewallZone'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallZone'
    delete:
      tags:
      - Firewall
      summary: Delete Custom Firewall Zone
      description: Delete a custom firewall zone from a site.
      operationId: deleteFirewallZone
      parameters:
      - name: firewallZoneId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
  /v1/sites/{siteId}/acl-rules/{aclRuleId}:
    get:
      tags:
      - Access Control (ACL Rules)
      summary: Get ACL Rule
      operationId: getAclRule
      parameters:
      - name: aclRuleId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACLRule'
    put:
      tags:
      - Access Control (ACL Rules)
      summary: Update ACL Rule
      description: Update an existing user defined ACL rule
      operationId: updateAclRule
      parameters:
      - name: aclRuleId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACLRuleUpdate'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACLRule'
    delete:
      tags:
      - Access Control (ACL Rules)
      summary: Delete ACL Rule
      description: Delete an existing user defined ACL rule
      operationId: deleteAclRule
      parameters:
      - name: aclRuleId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
  /v1/sites/{siteId}/wifi/broadcasts:
    get:
      tags:
      - WiFi Broadcasts
      summary: List Wifi Broadcasts
      description: 'Retrieve a paginated list of all Wifi Broadcasts on a site.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`type`|`STRING`|`eq` `ne` `in` `notIn`|

        |`id`|`UUID`|`eq` `ne` `in` `notIn`|

        |`enabled`|`BOOLEAN`|`eq` `ne`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn` `like`|

        |`broadcastingFrequenciesGHz`|`SET(DECIMAL)`|`contains` `containsAny` `containsAll`
        `containsExactly`|

        |`metadata.origin`|`STRING`|`eq` `ne` `in` `notIn`|

        |`network.type`|`STRING`|`eq` `ne` `in` `notIn` `isNull` `isNotNull`|

        |`network.networkId`|`UUID`|`eq` `ne` `in` `notIn`|

        |`securityConfiguration.type`|`STRING`|`eq` `ne` `in` `notIn`|

        |`broadcastingDeviceFilter.type`|`STRING`|`eq` `ne` `in` `notIn` `isNull`
        `isNotNull`|

        |`broadcastingDeviceFilter.deviceIds`|`SET(UUID)`|`contains` `containsAny`
        `containsAll` `containsExactly`|

        |`broadcastingDeviceFilter.deviceTagIds`|`SET(UUID)`|`contains` `containsAny`
        `containsAll` `containsExactly`|

        |`hotspotConfiguration.type`|`STRING`|`eq` `ne` `in` `notIn`|

        </details>'
      operationId: getWifiBroadcastPage
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationWifiBroadcastPageDto'
    post:
      tags:
      - WiFi Broadcasts
      summary: Create Wifi Broadcast
      description: Create a new Wifi Broadcast on the specified site.
      operationId: createWifiBroadcast
      parameters:
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WifiBroadcastCreateOrUpdate'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiBroadcastDetails'
  /v1/sites/{siteId}/traffic-matching-lists:
    get:
      tags:
      - Traffic Matching Lists
      summary: List Traffic Matching Lists
      description: 'Retrieve all traffic matching lists on a site.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`id`|`UUID`|`eq` `ne` `in` `notIn`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn` `like`|

        </details>'
      operationId: getTrafficMatchingLists
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficMatchingListsPage'
    post:
      tags:
      - Traffic Matching Lists
      summary: Create Traffic Matching List
      description: Create a new traffic matching list on a site.
      operationId: createTrafficMatchingList
      parameters:
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateTrafficMatchingList'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficMatchingList'
  /v1/sites/{siteId}/networks:
    get:
      tags:
      - Networks
      summary: List Networks
      description: 'Retrieve a paginated list of all Networks on a site.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`management`|`STRING`|`eq` `ne` `in` `notIn`|

        |`id`|`UUID`|`eq` `ne` `in` `notIn`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn` `like`|

        |`enabled`|`BOOLEAN`|`eq` `ne`|

        |`vlanId`|`INTEGER`|`eq` `ne` `gt` `ge` `lt` `le` `in` `notIn`|

        |`deviceId`|`UUID`|`eq` `ne` `in` `notIn` `isNull` `isNotNull`|

        |`metadata.origin`|`STRING`|`eq` `ne` `in` `notIn`|

        </details>'
      operationId: getNetworksOverviewPage
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkOverviewPage'
    post:
      tags:
      - Networks
      summary: Create Network
      description: Create a new network on a site.
      operationId: createNetwork
      parameters:
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateNetwork'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkDetails'
  /v1/sites/{siteId}/hotspot/vouchers:
    get:
      tags:
      - Hotspot
      summary: List Vouchers
      description: 'Retrieve a paginated list of Hotspot vouchers.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`id`|`UUID`|`eq` `ne` `in` `notIn`|

        |`createdAt`|`TIMESTAMP`|`eq` `ne` `gt` `ge` `lt` `le`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn` `like`|

        |`code`|`STRING`|`eq` `ne` `in` `notIn`|

        |`authorizedGuestLimit`|`INTEGER`|`isNull` `isNotNull` `eq` `ne` `gt` `ge`
        `lt` `le`|

        |`authorizedGuestCount`|`INTEGER`|`eq` `ne` `gt` `ge` `lt` `le`|

        |`activatedAt`|`TIMESTAMP`|`eq` `ne` `gt` `ge` `lt` `le`|

        |`expiresAt`|`TIMESTAMP`|`eq` `ne` `gt` `ge` `lt` `le`|

        |`expired`|`BOOLEAN`|`eq` `ne`|

        |`timeLimitMinutes`|`INTEGER`|`eq` `ne` `gt` `ge` `lt` `le`|

        |`dataUsageLimitMBytes`|`INTEGER`|`isNull` `isNotNull` `eq` `ne` `gt` `ge`
        `lt` `le`|

        |`rxRateLimitKbps`|`INTEGER`|`isNull` `isNotNull` `eq` `ne` `gt` `ge` `lt`
        `le`|

        |`txRateLimitKbps`|`INTEGER`|`isNull` `isNotNull` `eq` `ne` `gt` `ge` `lt`
        `le`|

        </details>'
      operationId: getVouchers
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 100
          maximum: 1000
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotspotVoucherDetailPage'
    post:
      tags:
      - Hotspot
      summary: Generate Vouchers
      description: Create one or more Hotspot vouchers.
      operationId: createVouchers
      parameters:
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HotspotVoucherCreationRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationVoucherCreationResultDto'
    delete:
      tags:
      - Hotspot
      summary: Delete Vouchers
      description: 'Remove Hotspot vouchers based on the specified filter criteria.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`id`|`UUID`|`eq` `ne` `in` `notIn`|

        |`createdAt`|`TIMESTAMP`|`eq` `ne` `gt` `ge` `lt` `le`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn` `like`|

        |`code`|`STRING`|`eq` `ne` `in` `notIn`|

        |`authorizedGuestLimit`|`INTEGER`|`isNull` `isNotNull` `eq` `ne` `gt` `ge`
        `lt` `le`|

        |`authorizedGuestCount`|`INTEGER`|`eq` `ne` `gt` `ge` `lt` `le`|

        |`activatedAt`|`TIMESTAMP`|`eq` `ne` `gt` `ge` `lt` `le`|

        |`expiresAt`|`TIMESTAMP`|`eq` `ne` `gt` `ge` `lt` `le`|

        |`expired`|`BOOLEAN`|`eq` `ne`|

        |`timeLimitMinutes`|`INTEGER`|`eq` `ne` `gt` `ge` `lt` `le`|

        |`dataUsageLimitMBytes`|`INTEGER`|`isNull` `isNotNull` `eq` `ne` `gt` `ge`
        `lt` `le`|

        |`rxRateLimitKbps`|`INTEGER`|`isNull` `isNotNull` `eq` `ne` `gt` `ge` `lt`
        `le`|

        |`txRateLimitKbps`|`INTEGER`|`isNull` `isNotNull` `eq` `ne` `gt` `ge` `lt`
        `le`|

        </details>'
      operationId: deleteVouchers
      parameters:
      - name: filter
        in: query
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherDeletionResults'
  /v1/sites/{siteId}/firewall/zones:
    get:
      tags:
      - Firewall
      summary: List Firewall Zones
      description: 'Retrieve a list of all firewall zones on a site.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`id`|`UUID`|`eq` `ne` `in` `notIn`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn` `like`|

        |`metadata.origin`|`STRING`|`eq` `ne` `in` `notIn`|

        |`metadata.configurable`|`BOOLEAN`|`eq` `ne` `isNull` `isNotNull`|

        </details>'
      operationId: getFirewallZones
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallZonesPage'
    post:
      tags:
      - Firewall
      summary: Create Custom Firewall Zone
      description: Create a new custom firewall zone on a site.
      operationId: createFirewallZone
      parameters:
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateFirewallZone'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallZone'
  /v1/sites/{siteId}/devices/{deviceId}/interfaces/ports/{portIdx}/actions:
    post:
      tags:
      - UniFi Devices
      summary: Execute Port Action
      description: Perform an action on a specific device port. The request body must
        include the action name and any applicable input arguments.
      operationId: executePortAction
      parameters:
      - name: portIdx
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortActionRequest'
        required: true
      responses:
        '200':
          description: OK
  /v1/sites/{siteId}/devices/{deviceId}/actions:
    post:
      tags:
      - UniFi Devices
      summary: Execute Adopted Device Action
      description: Perform an action on an specific adopted device. The request body
        must include the action name and any applicable input arguments.
      operationId: executeAdoptedDeviceAction
      parameters:
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceActionRequest'
        required: true
      responses:
        '200':
          description: OK
  /v1/sites/{siteId}/clients/{clientId}/actions:
    post:
      tags:
      - Clients
      summary: Execute Client Action
      description: Perform an action on a specific connected client. The request body
        must include the action name and any applicable input arguments.
      operationId: executeConnectedClientAction
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientActionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientActionResponse'
  /v1/sites/{siteId}/acl-rules:
    get:
      tags:
      - Access Control (ACL Rules)
      summary: List ACL Rules
      description: 'Retrieve a paginated list of all ACL rules on a site.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`type`|`STRING`|`eq` `ne` `in` `notIn`|

        |`id`|`UUID`|`eq` `ne` `in` `notIn`|

        |`enabled`|`BOOLEAN`|`eq` `ne`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn` `like`|

        |`description`|`STRING`|`isNull` `isNotNull` `eq` `ne` `in` `notIn` `like`|

        |`action`|`STRING`|`eq` `ne` `in` `notIn`|

        |`index`|`INTEGER`|`eq` `ne` `gt` `ge` `lt` `le` `in` `notIn`|

        |`protocolsFilter`|`SET(STRING)`|`isNull` `isNotNull` `contains` `containsAny`
        `containsAll` `containsExactly`|

        |`networkId`|`UUID`|`isNull` `isNotNull` `eq` `ne` `in` `notIn`|

        |`enforcingDeviceFilter.deviceIds`|`SET(UUID)`|`isNull` `isNotNull` `contains`
        `containsAny` `containsAll` `containsExactly`|

        |`metadata.origin`|`STRING`|`eq` `ne` `in` `notIn`|

        |`sourceFilter.type`|`STRING`|`isNull` `isNotNull` `eq` `ne` `in` `notIn`|

        |`sourceFilter.ipAddressesOrSubnets`|`SET(STRING)`|`contains` `containsAny`
        `containsAll` `containsExactly`|

        |`sourceFilter.portsFilter`|`SET(INTEGER)`|`isNull` `isNotNull` `contains`
        `containsAny` `containsAll` `containsExactly`|

        |`sourceFilter.networkIds`|`SET(UUID)`|`contains` `containsAny` `containsAll`
        `containsExactly`|

        |`sourceFilter.macAddresses`|`SET(STRING)`|`contains` `containsAny` `containsAll`
        `containsExactly`|

        |`sourceFilter.prefixLength`|`INTEGER`|`isNull` `isNotNull` `eq` `ne` `gt`
        `ge` `lt` `le` `in` `notIn`|

        |`destinationFilter.type`|`STRING`|`isNull` `isNotNull` `eq` `ne` `in` `notIn`|

        |`destinationFilter.ipAddressesOrSubnets`|`SET(STRING)`|`contains` `containsAny`
        `containsAll` `containsExactly`|

        |`destinationFilter.portsFilter`|`SET(INTEGER)`|`isNull` `isNotNull` `contains`
        `containsAny` `containsAll` `containsExactly`|

        |`destinationFilter.networkIds`|`SET(UUID)`|`contains` `containsAny` `containsAll`
        `containsExactly`|

        |`destinationFilter.macAddresses`|`SET(STRING)`|`contains` `containsAny` `containsAll`
        `containsExactly`|

        |`destinationFilter.prefixLength`|`INTEGER`|`isNull` `isNotNull` `eq` `ne`
        `gt` `ge` `lt` `le` `in` `notIn`|

        </details>'
      operationId: getAclRulePage
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAclRulePageDto'
    post:
      tags:
      - Access Control (ACL Rules)
      summary: Create ACL Rule
      description: Create a new user defined ACL rule
      operationId: createAclRule
      parameters:
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACLRuleUpdate'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACLRule'
  /v1/sites:
    get:
      tags:
      - Sites
      summary: List Local Sites
      description: 'Retrieve a paginated list of local sites managed by this Network
        application.

        Site ID is required for other UniFi Network API calls.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`id`|`UUID`|`eq` `ne` `in` `notIn`|

        |`internalReference`|`STRING`|`eq` `ne` `in` `notIn`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn`|

        </details>'
      operationId: getSiteOverviewPage
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteOverviewPage'
  /v1/sites/{siteId}/wans:
    get:
      tags:
      - Supporting Resources
      summary: List WAN Interfaces
      description: 'Returns available WAN interface definitions for a given site,

        including identifiers and names. Useful for network and NAT configuration.'
      operationId: getWansOverviewPage
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WANOverviewPage'
  /v1/sites/{siteId}/vpn/site-to-site-tunnels:
    get:
      tags:
      - Supporting Resources
      summary: List Site-To-Site VPN Tunnels
      description: 'Retrieve a paginated list of all site-to-site VPN tunnels on a
        site.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`type`|`STRING`|`eq` `ne` `in` `notIn`|

        |`id`|`UUID`|`eq` `ne` `in` `notIn`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn` `like`|

        |`metadata.origin`|`STRING`|`eq` `ne` `in` `notIn`|

        |`metadata.source`|`STRING`|`eq` `ne` `in` `notIn` `isNull` `isNotNull`|

        </details>'
      operationId: getSiteToSiteVpnTunnelPage
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationSiteToSiteVpnTunnelOverviewPageDto'
  /v1/sites/{siteId}/vpn/servers:
    get:
      tags:
      - Supporting Resources
      summary: List VPN Servers
      description: 'Retrieve a paginated list of all VPN servers on a site.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`type`|`STRING`|`eq` `ne` `in` `notIn`|

        |`id`|`UUID`|`eq` `ne` `in` `notIn`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn` `like`|

        |`enabled`|`BOOLEAN`|`eq` `ne`|

        |`metadata.origin`|`STRING`|`eq` `ne` `in` `notIn`|

        </details>'
      operationId: getVpnServerPage
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationVpnServerOverviewPageDto'
  /v1/sites/{siteId}/radius/profiles:
    get:
      tags:
      - Supporting Resources
      summary: List Radius Profiles
      description: 'Returns available RADIUS authentication profiles, including configuration
        origin metadata.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`id`|`UUID`|`eq` `ne` `in` `notIn`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn` `like`|

        |`metadata.origin`|`STRING`|`eq` `ne` `in` `notIn`|

        </details>'
      operationId: getRadiusProfileOverviewPage
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RadiusProfileOverviewPage'
  /v1/sites/{siteId}/networks/{networkId}/references:
    get:
      tags:
      - Networks
      summary: Get Network References
      description: Retrieve references to a specific network.
      operationId: getNetworkReferences
      parameters:
      - name: networkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkReferences'
  /v1/sites/{siteId}/hotspot/vouchers/{voucherId}:
    get:
      tags:
      - Hotspot
      summary: Get Voucher Details
      description: Retrieve details of a specific Hotspot voucher.
      operationId: getVoucher
      parameters:
      - name: voucherId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotspotVoucherDetails'
    delete:
      tags:
      - Hotspot
      summary: Delete Voucher
      description: Remove a specific Hotspot voucher.
      operationId: deleteVoucher
      parameters:
      - name: voucherId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherDeletionResults'
  /v1/sites/{siteId}/devices:
    get:
      tags:
      - UniFi Devices
      summary: List Adopted Devices
      description: 'Retrieve a paginated list of all adopted devices on a site, including
        basic device information.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`id`|`UUID`|`eq` `ne` `in` `notIn`|

        |`macAddress`|`STRING`|`eq` `ne` `in` `notIn`|

        |`ipAddress`|`STRING`|`eq` `ne` `in` `notIn`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn` `like`|

        |`model`|`STRING`|`eq` `ne` `in` `notIn`|

        |`state`|`STRING`|`eq` `ne` `in` `notIn`|

        |`supported`|`BOOLEAN`|`eq` `ne`|

        |`firmwareVersion`|`STRING`|`isNull` `isNotNull` `eq` `ne` `gt` `ge` `lt`
        `le` `like` `in` `notIn`|

        |`firmwareUpdatable`|`BOOLEAN`|`eq` `ne`|

        |`features`|`SET(STRING)`|`isEmpty` `contains` `containsAny` `containsAll`
        `containsExactly`|

        |`interfaces`|`SET(STRING)`|`isEmpty` `contains` `containsAny` `containsAll`
        `containsExactly`|

        </details>'
      operationId: getAdoptedDeviceOverviewPage
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdoptedDeviceOverviewPage'
  /v1/sites/{siteId}/devices/{deviceId}:
    get:
      tags:
      - UniFi Devices
      summary: Get Adopted Device Details
      description: Retrieve detailed information about a specific adopted device,
        including firmware versioning, uplink state, details about device features
        and interfaces (ports, radios) and other key attributes.
      operationId: getAdoptedDeviceDetails
      parameters:
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdoptedDeviceDetails'
  /v1/sites/{siteId}/devices/{deviceId}/statistics/latest:
    get:
      tags:
      - UniFi Devices
      summary: Get Latest Adopted Device Statistics
      description: Retrieve the latest real-time statistics of a specific adopted
        device, such as uptime, data transmission rates, CPU and memory utilization.
      operationId: getAdoptedDeviceLatestStatistics
      parameters:
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LatestStatisticsForADevice'
  /v1/sites/{siteId}/device-tags:
    get:
      tags:
      - Supporting Resources
      summary: List Device Tags
      description: 'Returns all device tags defined within a site, which can be used
        for WiFi Broadcast assignments.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`id`|`UUID`|`eq` `ne` `in` `notIn`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn` `like`|

        |`deviceIds`|`SET(UUID)`|`contains` `containsAny` `containsAll` `containsExactly`|

        </details>'
      operationId: getDeviceTagPage
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/FilterExpression'
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDeviceTagPageDto'
  /v1/sites/{siteId}/clients:
    get:
      tags:
      - Clients
      summary: List Connected Clients
      description: 'Retrieve a paginated list of all connected clients on a site,
        including physical devices (computers, smartphones) and active VPN connections.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`id`|`UUID`|`eq` `ne` `in` `notIn`|

        |`type`|`STRING`|`eq` `ne` `in` `notIn`|

        |`macAddress`|`STRING`|`isNull` `isNotNull` `eq` `ne` `in` `notIn`|

        |`ipAddress`|`STRING`|`isNull` `isNotNull` `eq` `ne` `in` `notIn`|

        |`connectedAt`|`TIMESTAMP`|`isNull` `isNotNull` `eq` `ne` `gt` `ge` `lt` `le`|

        |`access.type`|`STRING`|`eq` `ne` `in` `notIn`|

        |`access.authorized`|`BOOLEAN`|`isNull` `isNotNull` `eq` `ne`|

        </details>'
      operationId: getConnectedClientOverviewPage
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientOverviewPage'
  /v1/sites/{siteId}/clients/{clientId}:
    get:
      tags:
      - Clients
      summary: Get Connected Client Details
      description: Retrieve detailed information about a specific connected client,
        including name, IP address, MAC address, connection type and access information.
      operationId: getConnectedClientDetails
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: siteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientDetails'
  /v1/pending-devices:
    get:
      tags:
      - UniFi Devices
      summary: List Devices Pending Adoption
      description: 'Retrieve a paginated list of devices pending adoption, including
        basic device information.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`macAddress`|`STRING`|`eq` `ne` `in` `notIn`|

        |`ipAddress`|`STRING`|`eq` `ne` `in` `notIn`|

        |`model`|`STRING`|`eq` `ne` `in` `notIn`|

        |`state`|`STRING`|`eq` `ne` `in` `notIn`|

        |`supported`|`BOOLEAN`|`eq` `ne`|

        |`firmwareVersion`|`STRING`|`isNull` `isNotNull` `eq` `ne` `gt` `ge` `lt`
        `le` `like` `in` `notIn`|

        |`firmwareUpdatable`|`BOOLEAN`|`eq` `ne`|

        |`features`|`SET(STRING)`|`isEmpty` `contains` `containsAny` `containsAll`
        `containsExactly`|

        </details>'
      operationId: getPendingDevicePage
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePendingAdoptionPage'
  /v1/info:
    get:
      tags:
      - Application Info
      summary: Get Application Info
      description: Retrieve general information about the UniFi Network application.
      operationId: getInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInfo'
  /v1/dpi/categories:
    get:
      tags:
      - Supporting Resources
      summary: List DPI Categories
      description: 'Returns predefined Deep Packet Inspection (DPI) categories used
        for traffic identification and filtering.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`id`|`INTEGER`|`eq` `ne` `in` `notIn`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn` `like`|

        </details>'
      operationId: getCategories
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DPICategoryPage'
  /v1/dpi/applications:
    get:
      tags:
      - Supporting Resources
      summary: List DPI Applications
      description: 'Lists DPI-recognized applications grouped under categories. Useful
        for firewall or traffic analytics integration.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`id`|`INTEGER`|`eq` `ne` `in` `notIn`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn` `like`|

        </details>'
      operationId: getApplications
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DPIApplicationPage'
  /v1/countries:
    get:
      tags:
      - Supporting Resources
      summary: List Countries
      description: 'Returns ISO-standard country codes and names,

        used for region-based configuration or regulatory compliance.


        <details>

        <summary>Filterable properties (click to expand)</summary>


        |Name|Type|Allowed functions|

        |-|-|-|

        |`code`|`STRING`|`eq` `ne` `in` `notIn`|

        |`name`|`STRING`|`eq` `ne` `in` `notIn` `like`|

        </details>'
      operationId: getCountries
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          format: int32
          default: 0
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          format: int32
          default: 25
          maximum: 200
          minimum: 0
      - name: filter
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryDefinitionPage'
components:
  schemas:
    ErrorMessage:
      properties:
        statusCode:
          type: integer
          format: int32
          example: 400
        statusName:
          type: string
          example: UNAUTHORIZED
        code:
          type: string
          example: api.authentication.missing-credentials
        message:
          type: string
          example: Missing credentials
        timestamp:
          type: string
          format: date-time
          example: '2024-11-27T08:13:46.966Z'
        requestPath:
          type: string
          example: /integration/v1/sites/123
        requestId:
          type: string
          format: uuid
          description: In case of Internal Server Error (core = 500), request ID can
            be used to track down the error in the server log
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      x-tags: Error Handling
    BlackoutScheduleConfigurationPerDay:
      discriminator:
        propertyName: type
        mapping:
          ALL_DAY: '#/components/schemas/IntegrationWifiBlackoutScheduleConfigurationPerAllDayDto'
          TIME_RANGE: '#/components/schemas/IntegrationWifiBlackoutScheduleConfigurationPerDayWithTimeRangeDto'
      properties:
        type:
          type: string
        day:
          type: string
          enum:
          - SUN
          - MON
          - TUE
          - WED
          - THU
          - FRI
          - SAT
      required:
      - day
      - type
    BroadcastingDeviceFilter:
      discriminator:
        propertyName: type
        mapping:
          DEVICES: '#/components/schemas/IntegrationWifiDevicesFilterDto'
          DEVICE_TAGS: '#/components/schemas/IntegrationWifiDeviceTagsFilterDto'
      oneOf:
      - $ref: '#/components/schemas/IntegrationWifiDevicesFilterDto'
      - $ref: '#/components/schemas/IntegrationWifiDeviceTagsFilterDto'
    IntegrationBlackoutScheduleConfiguration:
      properties:
        days:
          type: array
          items:
            $ref: '#/components/schemas/BlackoutScheduleConfigurationPerDay'
          minItems: 1
      required:
      - days
    IntegrationIotOptimizedWifiBroadcastCreateUpdateDto:
      allOf:
      - $ref: '#/components/schemas/WifiBroadcastCreateOrUpdate'
      required:
      - clientIsolationEnabled
      - enabled
      - hideName
      - multicastToUnicastConversionEnabled
      - name
      - securityConfiguration
      - uapsdEnabled
    IntegrationStandardWifiBroadcastCreateUpdateDto:
      allOf:
      - $ref: '#/components/schemas/WifiBroadcastCreateOrUpdate'
      - type: object
        properties:
          broadcastingFrequenciesGHz:
            type: array
            example:
            - 2.4
            - 5
            items:
              type: string
              enum:
              - '2.4'
              - '5'
              - '6'
            minItems: 1
            uniqueItems: true
          hotspotConfiguration:
            $ref: '#/components/schemas/WifiHotspotConfiguration'
          mloEnabled:
            type: boolean
          bandSteeringEnabled:
            type: boolean
          arpProxyEnabled:
            type: boolean
          bssTransitionEnabled:
            type: boolean
          dtimPeriodByFrequencyGHzOverride:
            $ref: '#/components/schemas/IntegrationWifiDtimPeriodConfigurationDto'
      required:
      - arpProxyEnabled
      - broadcastingFrequenciesGHz
      - bssTransitionEnabled
      - clientIsolationEnabled
      - enabled
      - hideName
      - multicastToUnicastConversionEnabled
      - name
      - securityConfiguration
      - uapsdEnabled
    IntegrationWifiBasicDataRateConfigurationDto:
      properties:
        '5':
          type: integer
          format: int32
          enum:
          - '6000'
          - '9000'
          - '12000'
          - '24000'
          example: 6000
        '2.4':
          type: integer
          format: int32
          enum:
          - '1000'
          - '2000'
          - '5500'
          - '6000'
          - '9000'
          - '11000'
          - '12000'
          - '24000'
          example: 2000
      required:
      - '2.4'
      - '5'
    IntegrationWifiBlackoutScheduleConfigurationPerAllDayDto:
      allOf:
      - $ref: '#/components/schemas/BlackoutScheduleConfigurationPerDay'
      required:
      - day
    IntegrationWifiBlackoutScheduleConfigurationPerDayWithTimeRangeDto:
      allOf:
      - $ref: '#/components/schemas/BlackoutScheduleConfigurationPerDay'
      - type: object
        properties:
          timeRanges:
            type: array
            items:
              $ref: '#/components/schemas/IntegrationWifiBlackoutScheduleConfigurationTimeRangeDto'
            minItems: 1
      required:
      - day
      - timeRanges
    IntegrationWifiBlackoutScheduleConfigurationTimeRangeDto:
      properties:
        startTime:
          type: string
          format: partial-time
          description: Start time in 24-hour format (HH:mm)
        endTime:
          type: string
          format: partial-time
          description: End time in 24-hour format (HH:mm)
      required:
      - endTime
      - startTime
    IntegrationWifiCaptivePortalConfigurationDetailDto:
      allOf:
      - $ref: '#/components/schemas/WifiHotspotConfiguration'
    IntegrationWifiClientFilteringPolicyDto:
      properties:
        action:
          type: string
          enum:
          - ALLOW
          - BLOCK
        macAddressFilter:
          type: array
          items:
            type: string
          maxItems: 512
          minItems: 1
          uniqueItems: true
      required:
      - action
      - macAddressFilter
    IntegrationWifiDerivedNasIdDto:
      allOf:
      - $ref: '#/components/schemas/WifiRadiusNASIDConfiguration'
      - type: object
        properties:
          source:
            type: string
            enum:
            - DEVICE_MAC_ADDRESS
            - DEVICE_NAME
            - SITE_NAME
            - BSSID
      required:
      - source
    IntegrationWifiDeviceTagsFilterDto:
      allOf:
      - $ref: '#/components/schemas/BroadcastingDeviceFilter'
      - type: object
        properties:
          deviceTagIds:
            type: array
            items:
              type: string
              format: uuid
            minItems: 1
            uniqueItems: true
      required:
      - deviceTagIds
    IntegrationWifiDevicesFilterDto:
      allOf:
      - $ref: '#/components/schemas/BroadcastingDeviceFilter'
      - type: object
        properties:
          deviceIds:
            type: array
            description: List of Access Point capable device IDs to which the WiFi
              broadcast applies.
            items:
              type: string
              format: uuid
            minItems: 1
            uniqueItems: true
      required:
      - deviceIds
    IntegrationWifiDtimPeriodConfigurationDto:
      properties:
        '5':
          type: integer
          format: int32
          maximum: 255
          minimum: 1
        '6':
          type: integer
          format: int32
          maximum: 255
          minimum: 1
        '2.4':
          type: integer
          format: int32
          maximum: 255
          minimum: 1
      required:
      - '2.4'
      - '5'
      - '6'
    IntegrationWifiEnterpriseRadiusConfigurationDto:
      properties:
        profileId:
          type: string
          format: uuid
        nasId:
          $ref: '#/components/schemas/WifiRadiusNASIDConfiguration'
        macAuthenticationConfiguration:
          $ref: '#/components/schemas/IntegrationWifiRadiusMacAuthenticationConfigurationDto'
      required:
      - nasId
      - profileId
    IntegrationWifiMdnsProxyAllowPolicyDto:
      allOf:
      - $ref: '#/components/schemas/MDNSProxyPolicy'
      - type: object
        properties:
          serviceFilter:
            type: array
            items:
              $ref: '#/components/schemas/MDNSService'
            minItems: 1
          bridgingNetworkIds:
            type: array
            items:
              type: string
              format: uuid
            minItems: 1
            uniqueItems: true
    IntegrationWifiMdnsProxyAutoConfigurationDto:
      allOf:
      - $ref: '#/components/schemas/MDNSFilteringConfiguration'
    IntegrationWifiMdnsProxyBlockPolicyDto:
      allOf:
      - $ref: '#/components/schemas/MDNSProxyPolicy'
    IntegrationWifiMdnsProxyCustomConfigurationDto:
      allOf:
      - $ref: '#/components/schemas/MDNSFilteringConfiguration'
      - type: object
        properties:
          policies:
            type: array
            items:
              $ref: '#/components/schemas/MDNSProxyPolicy'
            minItems: 1
      required:
      - policies
    IntegrationWifiMdnsProxyCustomServiceDto:
      allOf:
      - $ref: '#/components/schemas/MDNSService'
      - type: object
        properties:
          name:
            type: string
          typeDomain:
            type: string
      required:
      - name
      - typeDomain
    IntegrationWifiMdnsProxyPredefinedServiceDto:
      allOf:
      - $ref: '#/components/schemas/MDNSService'
      - type: object
        properties:
          name:
            type: string
            enum:
            - AMAZON_DEVICES
            - ANDROID_TV_REMOTE
            - APPLE_AIR_DROP
            - APPLE_AIR_PLAY
            - APPLE_FILE_SHARING
            - APPLE_ICHAT
            - APPLE_ITUNES
            - AQARA
            - BOSE
            - DNS_SERVICE_DISCOVERY
            - FTP_SERVERS
            - GOOGLE_CHROMECAST
            - HOMEKIT
            - MATTER_NETWORK
            - PHILIPS_HUE
            - PRINTERS
            - ROKU
            - SCANNERS
            - SONOS
            - SPOTIFY_CONNECT
            - SSH_SERVERS
            - TIME_CAPSULE
            - WEB_SERVERS
            - WINDOWS_FILE_SHARING_SAMBA
      required:
      - name
    IntegrationWifiMulticastFilteringAllowPolicyDto:
      allOf:
      - $ref: '#/components/schemas/MulticastFilteringPolicy'
      - type: object
        properties:
          sourceMacAddressFilter:
            type: array
            description: List of multicast source MAC addresses allowed. Multicast
              traffic from gateways is always allowed.
            items:
              type: string
            maxItems: 256
            minItems: 1
            uniqueItems: true
      required:
      - sourceMacAddressFilter
    IntegrationWifiMulticastFilteringBlockPolicyDto:
      allOf:
      - $ref: '#/components/schemas/MulticastFilteringPolicy'
    IntegrationWifiNativeNetworkDto:
      allOf:
      - $ref: '#/components/schemas/WifiNetworkReference'
    IntegrationWifiNonEnterpriseRadiusConfigurationDto:
      properties:
        profileId:
          type: string
          format: uuid
        nasId:
          $ref: '#/components/schemas/WifiRadiusNASIDConfiguration'
        macAuthenticationConfiguration:
          $ref: '#/components/schemas/IntegrationWifiRadiusMacAuthenticationConfigurationDto'
      required:
      - macAuthenticationConfiguration
      - nasId
      - profileId
    IntegrationWifiOpenSecurityConfigurationDetailDto:
      allOf:
      - $ref: '#/components/schemas/WifiSecurityConfigurationDetailObject'
      - type: object
        properties:
          radiusConfiguration:
            $ref: '#/components/schemas/IntegrationWifiNonEnterpriseRadiusConfigurationDto'
    IntegrationWifiPasspointConfigurationDetailDto:
      allOf:
      - $ref: '#/components/schemas/WifiHotspotConfiguration'
    IntegrationWifiPresharedKeyDto:
      properties:
        network:
          $ref: '#/components/schemas/WifiNetworkReference'
        passphrase:
          type: string
      required:
      - network
      - passphrase
    IntegrationWifiRadiusMacAuthenticationConfigurationDto:
      properties:
        macAddressFormat:
          type: string
          enum:
          - UPPERCASE_NOT_SEPARATED
          - UPPERCASE_DASH_SEPARATED
          - UPPERCASE_COLON_SEPARATED
          - LOWERCASE_NOT_SEPARATED
          - LOWERCASE_COLON_SEPARATED
          - LOWERCASE_DASH_SEPARATED
      required:
      - macAddressFormat
    IntegrationWifiSaeConfigurationDto:
      properties:
        anticloggingThresholdSeconds:
          type: integer
          format: int32
          maximum: 60
          minimum: 1
        syncTimeSeconds:
          type: integer
          format: int32
          maximum: 60
          minimum: 1
      required:
      - anticloggingThresholdSeconds
      - syncTimeSeconds
    IntegrationWifiSpecificNetworkDto:
      allOf:
      - $ref: '#/components/schemas/WifiNetworkReference'
      - type: object
        properties:
          networkId:
            type: string
            format: uuid
      required:
      - networkId
    IntegrationWifiUserDefinedNasIdDto:
      allOf:
      - $ref: '#/components/schemas/WifiRadiusNASIDConfiguration'
      - type: object
        properties:
          value:
            type: string
      required:
      - value
    IntegrationWifiWpa2EnterpriseSecurityConfigurationDetailDto:
      allOf:
      - $ref: '#/components/schemas/WifiSecurityConfigurationDetailObject'
      - type: object
        properties:
          groupRekeyIntervalSeconds:
            type: integer
            format: int32
            description: Group rekey interval in seconds. Sets how often connected
              device groups are assigned a new key. If null, then it is disabled.
              This feature is not available for IoT configuration.
            maximum: 86400
            minimum: 1
          fastRoamingEnabled:
            type: boolean
            description: Fast roaming enabled flag. This feature is not available
              for IoT configuration.
          radiusConfiguration:
            $ref: '#/components/schemas/IntegrationWifiEnterpriseRadiusConfigurationDto'
          coaEnabled:
            type: boolean
            description: Indicates whether Change of Authorization (COA) is enabled
          pmfMode:
            type: string
            description: Protected Management Frames mode. If null, then it is disabled.
              This feature is not available for IoT configuration.
            enum:
            - REQUIRED
            - OPTIONAL
      required:
      - coaEnabled
      - radiusConfiguration
    IntegrationWifiWpa2PersonalSecurityConfigurationDetailDto:
      allOf:
      - $ref: '#/components/schemas/WifiSecurityConfigurationDetailObject'
      - type: object
        properties:
          groupRekeyIntervalSeconds:
            type: integer
            format: int32
            description: Group rekey interval in seconds. Sets how often connected
              device groups are assigned a new key. If null, then it is disabled.
              This feature is not available for IoT configuration.
            maximum: 86400
            minimum: 1
          fastRoamingEnabled:
            type: boolean
            description: Fast roaming enabled flag. This feature is not available
              for IoT configuration.
          radiusConfiguration:
            $ref: '#/components/schemas/IntegrationWifiNonEnterpriseRadiusConfigurationDto'
          passphrase:
            type: string
            maxLength: 63
            minLength: 8
          presharedKeys:
            type: array
            items:
              $ref: '#/components/schemas/IntegrationWifiPresharedKeyDto'
            minItems: 1
          pmfMode:
            type: string
            description: Protected Management Frames mode. If null, then it is disabled.
              This feature is not available for IoT configuration.
            enum:
            - REQUIRED
            - OPTIONAL
    IntegrationWifiWpa2Wpa3EnterpriseSecurityConfigurationDetailDto:
      allOf:
      - $ref: '#/components/schemas/WifiSecurityConfigurationDetailObject'
      - type: object
        properties:
          groupRekeyIntervalSeconds:
            type: integer
            format: int32
            description: Group rekey interval in seconds. Sets how often connected
              device groups are assigned a new key. If null, then it is disabled.
              This feature is not available for IoT configuration.
            maximum: 86400
            minimum: 1
          fastRoamingEnabled:
            type: boolean
            description: Fast roaming enabled flag. This feature is not available
              for IoT configuration.
          radiusConfiguration:
            $ref: '#/components/schemas/IntegrationWifiEnterpriseRadiusConfigurationDto'
          coaEnabled:
            type: boolean
            description: Indicates whether Change of Authorization (COA) is enabled
          pmfMode:
            type: string
            description: Protected Management Frames mode. If null, then it is disabled.
              This feature is not available for IoT configuration.
            enum:
            - REQUIRED
            - OPTIONAL
          wpa3FastRoamingEnabled:
            type: boolean
            description: WPA3 fast roaming can be enabled only if the default fast
              roaming is enabled
      required:
      - coaEnabled
      - pmfMode
      - radiusConfiguration
      - wpa3FastRoamingEnabled
    IntegrationWifiWpa2Wpa3PersonalSecurityConfigurationDetailDto:
      allOf:
      - $ref: '#/components/schemas/WifiSecurityConfigurationDetailObject'
      - type: object
        properties:
          groupRekeyIntervalSeconds:
            type: integer
            format: int32
            description: Group rekey interval in seconds. Sets how often connected
              device groups are assigned a new key. If null, then it is disabled.
              This feature is not available for IoT configuration.
            maximum: 86400
            minimum: 1
          fastRoamingEnabled:
            type: boolean
            description: Fast roaming enabled flag. This feature is not available
              for IoT configuration.
          radiusConfiguration:
            $ref: '#/components/schemas/IntegrationWifiNonEnterpriseRadiusConfigurationDto'
          passphrase:
            type: string
            maxLength: 63
            minLength: 8
          pmfMode:
            type: string
            description: Protected Management Frames mode. If null, then it is disabled.
              This feature is not available for IoT configuration.
            enum:
            - REQUIRED
            - OPTIONAL
          saeConfiguration:
            $ref: '#/components/schemas/IntegrationWifiSaeConfigurationDto'
            description: Configuration for SAE (Simultaneous Authentication of Equals).
          wpa3FastRoamingEnabled:
            type: boolean
            description: WPA3 fast roaming can be enabled only if the default fast
              roaming is enabled
      required:
      - passphrase
      - pmfMode
      - saeConfiguration
      - wpa3FastRoamingEnabled
    IntegrationWifiWpa3EnterpriseSecurityConfigurationDetailDto:
      allOf:
      - $ref: '#/components/schemas/WifiSecurityConfigurationDetailObject'
      - type: object
        properties:
          groupRekeyIntervalSeconds:
            type: integer
            format: int32
            description: Group rekey interval in seconds. Sets how often connected
              device groups are assigned a new key. If null, then it is disabled.
              This feature is not available for IoT configuration.
            maximum: 86400
            minimum: 1
          fastRoamingEnabled:
            type: boolean
            description: Fast roaming enabled flag. This feature is not available
              for IoT configuration.
          radiusConfiguration:
            $ref: '#/components/schemas/IntegrationWifiEnterpriseRadiusConfigurationDto'
          coaEnabled:
            type: boolean
            description: Indicates whether Change of Authorization (COA) is enabled
          securityMode:
            type: string
            enum:
            - DEFAULT
            - HIGH_SECURITY_192_BIT
      required:
      - coaEnabled
      - radiusConfiguration
      - securityMode
    IntegrationWifiWpa3PersonalSecurityConfigurationDetailDto:
      allOf:
      - $ref: '#/components/schemas/WifiSecurityConfigurationDetailObject'
      - type: object
        properties:
          groupRekeyIntervalSeconds:
            type: integer
            format: int32
            description: Group rekey interval in seconds. Sets how often connected
              device groups are assigned a new key. If null, then it is disabled.
              This feature is not available for IoT configuration.
            maximum: 86400
            minimum: 1
          fastRoamingEnabled:
            type: boolean
            description: Fast roaming enabled flag. This feature is not available
              for IoT configuration.
          radiusConfiguration:
            $ref: '#/components/schemas/IntegrationWifiNonEnterpriseRadiusConfigurationDto'
          passphrase:
            type: string
            maxLength: 63
            minLength: 8
          saeConfiguration:
            $ref: '#/components/schemas/IntegrationWifiSaeConfigurationDto'
            description: Configuration for SAE (Simultaneous Authentication of Equals).
      required:
      - passphrase
      - saeConfiguration
    MulticastFilteringPolicy:
      discriminator:
        propertyName: action
        mapping:
          ALLOW: '#/components/schemas/IntegrationWifiMulticastFilteringAllowPolicyDto'
          BLOCK: '#/components/schemas/IntegrationWifiMulticastFilteringBlockPolicyDto'
      oneOf:
      - $ref: '#/components/schemas/IntegrationWifiMulticastFilteringAllowPolicyDto'
      - $ref: '#/components/schemas/IntegrationWifiMulticastFilteringBlockPolicyDto'
    WifiRadiusNASIDConfiguration:
      discriminator:
        propertyName: type
        mapping:
          DERIVED: '#/components/schemas/IntegrationWifiDerivedNasIdDto'
          USER_DEFINED: '#/components/schemas/IntegrationWifiUserDefinedNasIdDto'
      oneOf:
      - $ref: '#/components/schemas/IntegrationWifiDerivedNasIdDto'
      - $ref: '#/components/schemas/IntegrationWifiUserDefinedNasIdDto'
    WifiBroadcastCreateOrUpdate:
      discriminator:
        propertyName: type
        mapping:
          STANDARD: '#/components/schemas/IntegrationStandardWifiBroadcastCreateUpdateDto'
          IOT_OPTIMIZED: '#/components/schemas/IntegrationIotOptimizedWifiBroadcastCreateUpdateDto'
      properties:
        type:
          type: string
        name:
          type: string
        network:
          $ref: '#/components/schemas/WifiNetworkReference'
        enabled:
          type: boolean
        securityConfiguration:
          $ref: '#/components/schemas/WifiSecurityConfigurationDetailObject'
        broadcastingDeviceFilter:
          $ref: '#/components/schemas/BroadcastingDeviceFilter'
          description: Defines the custom scope of devices that will broadcast this
            WiFi network. If null, the WiFi network will be broadcast by all Access
            Point capable devices.
        mdnsProxyConfiguration:
          $ref: '#/components/schemas/MDNSFilteringConfiguration'
        multicastFilteringPolicy:
          $ref: '#/components/schemas/MulticastFilteringPolicy'
        multicastToUnicastConversionEnabled:
          type: boolean
        clientIsolationEnabled:
          type: boolean
        hideName:
          type: boolean
        uapsdEnabled:
          type: boolean
          description: Indicates whether Unscheduled Automatic Power Save Delivery
            (U-APSD) is enabled
        basicDataRateKbpsByFrequencyGHz:
          $ref: '#/components/schemas/IntegrationWifiBasicDataRateConfigurationDto'
        clientFilteringPolicy:
          $ref: '#/components/schemas/IntegrationWifiClientFilteringPolicyDto'
          description: Client connection filtering policy. Allow/restrict access to
            the WiFi network based on client device MAC addresses.
        blackoutScheduleConfiguration:
          $ref: '#/components/schemas/IntegrationBlackoutScheduleConfiguration'
      required:
      - clientIsolationEnabled
      - enabled
      - hideName
      - multicastToUnicastConversionEnabled
      - name
      - securityConfiguration
      - type
      - uapsdEnabled
    WifiHotspotConfiguration:
      discriminator:
        propertyName: type
        mapping:
          CAPTIVE_PORTAL: '#/components/schemas/IntegrationWifiCaptivePortalConfigurationDetailDto'
          PASSPOINT: '#/components/schemas/IntegrationWifiPasspointConfigurationDetailDto'
      oneOf:
      - $ref: '#/components/schemas/IntegrationWifiCaptivePortalConfigurationDetailDto'
      - $ref: '#/components/schemas/IntegrationWifiPasspointConfigurationDetailDto'
    WifiNetworkReference:
      discriminator:
        propertyName: type
        mapping:
          NATIVE: '#/components/schemas/IntegrationWifiNativeNetworkDto'
          SPECIFIC: '#/components/schemas/IntegrationWifiSpecificNetworkDto'
      oneOf:
      - $ref: '#/components/schemas/IntegrationWifiNativeNetworkDto'
      - $ref: '#/components/schemas/IntegrationWifiSpecificNetworkDto'
    WifiSecurityConfigurationDetailObject:
      discriminator:
        propertyName: type
        mapping:
          OPEN: '#/components/schemas/IntegrationWifiOpenSecurityConfigurationDetailDto'
          WPA2_PERSONAL: '#/components/schemas/IntegrationWifiWpa2PersonalSecurityConfigurationDetailDto'
          WPA3_PERSONAL: '#/components/schemas/IntegrationWifiWpa3PersonalSecurityConfigurationDetailDto'
          WPA2_WPA3_PERSONAL: '#/components/schemas/IntegrationWifiWpa2Wpa3PersonalSecurityConfigurationDetailDto'
          WPA2_ENTERPRISE: '#/components/schemas/IntegrationWifiWpa2EnterpriseSecurityConfigurationDetailDto'
          WPA3_ENTERPRISE: '#/components/schemas/IntegrationWifiWpa3EnterpriseSecurityConfigurationDetailDto'
          WPA2_WPA3_ENTERPRISE: '#/components/schemas/IntegrationWifiWpa2Wpa3EnterpriseSecurityConfigurationDetailDto'
      properties:
        type:
          type: string
        radiusConfiguration: {}
      required:
      - type
    MDNSFilteringConfiguration:
      discriminator:
        propertyName: mode
        mapping:
          AUTO: '#/components/schemas/IntegrationWifiMdnsProxyAutoConfigurationDto'
          CUSTOM: '#/components/schemas/IntegrationWifiMdnsProxyCustomConfigurationDto'
      oneOf:
      - $ref: '#/components/schemas/IntegrationWifiMdnsProxyAutoConfigurationDto'
      - $ref: '#/components/schemas/IntegrationWifiMdnsProxyCustomConfigurationDto'
    MDNSProxyPolicy:
      discriminator:
        propertyName: action
        mapping:
          ALLOW: '#/components/schemas/IntegrationWifiMdnsProxyAllowPolicyDto'
          BLOCK: '#/components/schemas/IntegrationWifiMdnsProxyBlockPolicyDto'
      properties:
        action:
          type: string
        deviceFilter:
          $ref: '#/components/schemas/BroadcastingDeviceFilter'
          description: Defines the custom scope of devices that will filter Mdns.
            If null, the mDNS filtering will be added to all Access Point capable
            devices.
      required:
      - action
    MDNSService:
      discriminator:
        propertyName: type
        mapping:
          PREDEFINED: '#/components/schemas/IntegrationWifiMdnsProxyPredefinedServiceDto'
          CUSTOM: '#/components/schemas/IntegrationWifiMdnsProxyCustomServiceDto'
      oneOf:
      - $ref: '#/components/schemas/IntegrationWifiMdnsProxyPredefinedServiceDto'
      - $ref: '#/components/schemas/IntegrationWifiMdnsProxyCustomServiceDto'
    DerivedEntityMetadata:
      allOf:
      - $ref: '#/components/schemas/EntityMetadata'
      - $ref: '#/components/schemas/UserDefinedOrDerivedEntityMetadata'
      - $ref: '#/components/schemas/UserOrDerivedOrOrchestratedEntityMetadata'
    EntityMetadata:
      discriminator:
        propertyName: origin
        mapping:
          USER_DEFINED: '#/components/schemas/UserDefinedEntityMetadata'
          SYSTEM_DEFINED: '#/components/schemas/SystemDefinedEntityMetadata'
          DERIVED: '#/components/schemas/DerivedEntityMetadata'
          ORCHESTRATED: '#/components/schemas/OrchestratedEntityMetadata'
      oneOf:
      - $ref: '#/components/schemas/UserDefinedEntityMetadata'
      - $ref: '#/components/schemas/SystemDefinedEntityMetadata'
      - $ref: '#/components/schemas/DerivedEntityMetadata'
      - $ref: '#/components/schemas/OrchestratedEntityMetadata'
    IntegrationDerivedSiteToSiteTunnelMetadata:
      allOf:
      - $ref: '#/components/schemas/SiteToSiteVPNTunnelMetadata'
      - type: object
        properties:
          source:
            type: string
            enum:
            - SDWAN
      required:
      - source
    IntegrationIotOptimizedWifiBroadcastDetailDto:
      allOf:
      - $ref: '#/components/schemas/WifiBroadcastDetails'
      required:
      - clientIsolationEnabled
      - enabled
      - hideName
      - id
      - metadata
      - multicastToUnicastConversionEnabled
      - name
      - securityConfiguration
      - uapsdEnabled
    IntegrationStandardWifiBroadcastDetailDto:
      allOf:
      - $ref: '#/components/schemas/WifiBroadcastDetails'
      - type: object
        properties:
          broadcastingFrequenciesGHz:
            type: array
            example:
            - 2.4
            - 5
            items:
              type: string
              enum:
              - '2.4'
              - '5'
              - '6'
            minItems: 1
            uniqueItems: true
          hotspotConfiguration:
            $ref: '#/components/schemas/WifiHotspotConfiguration'
          mloEnabled:
            type: boolean
          bandSteeringEnabled:
            type: boolean
          arpProxyEnabled:
            type: boolean
          bssTransitionEnabled:
            type: boolean
          dtimPeriodByFrequencyGHzOverride:
            $ref: '#/components/schemas/IntegrationWifiDtimPeriodConfigurationDto'
      required:
      - arpProxyEnabled
      - broadcastingFrequenciesGHz
      - bssTransitionEnabled
      - clientIsolationEnabled
      - enabled
      - hideName
      - id
      - metadata
      - multicastToUnicastConversionEnabled
      - name
      - securityConfiguration
      - uapsdEnabled
    OrchestratedEntityMetadata:
      allOf:
      - $ref: '#/components/schemas/EntityMetadata'
      - $ref: '#/components/schemas/UserOrSystemDefinedOrOrchestratedEntityMetadata'
      - $ref: '#/components/schemas/UserOrOrchestratedEntityMetadata'
      - $ref: '#/components/schemas/UserOrDerivedOrOrchestratedEntityMetadata'
    SiteToSiteVPNTunnelMetadata:
      discriminator:
        propertyName: origin
        mapping:
          USER_DEFINED: '#/components/schemas/UserDefinedEntityMetadata'
          DERIVED: '#/components/schemas/IntegrationDerivedSiteToSiteTunnelMetadata'
      oneOf:
      - $ref: '#/components/schemas/UserDefinedEntityMetadata'
      - $ref: '#/components/schemas/IntegrationDerivedSiteToSiteTunnelMetadata'
    SystemDefinedEntityMetadata:
      allOf:
      - $ref: '#/components/schemas/EntityMetadata'
      - $ref: '#/components/schemas/UserOrSystemDefinedEntityMetadata'
      - $ref: '#/components/schemas/UserOrSystemDefinedOrOrchestratedEntityMetadata'
      - type: object
        properties:
          configurable:
            type: boolean
    UserDefinedEntityMetadata:
      allOf:
      - $ref: '#/components/schemas/EntityMetadata'
      - $ref: '#/components/schemas/UserOrSystemDefinedEntityMetadata'
      - $ref: '#/components/schemas/UserDefinedOrDerivedEntityMetadata'
      - $ref: '#/components/schemas/UserOrSystemDefinedOrOrchestratedEntityMetadata'
      - $ref: '#/components/schemas/UserOrOrchestratedEntityMetadata'
      - $ref: '#/components/schemas/UserOrDerivedOrOrchestratedEntityMetadata'
      - $ref: '#/components/schemas/SiteToSiteVPNTunnelMetadata'
    UserDefinedOrDerivedEntityMetadata:
      discriminator:
        propertyName: origin
        mapping:
          USER_DEFINED: '#/components/schemas/UserDefinedEntityMetadata'
          DERIVED: '#/components/schemas/DerivedEntityMetadata'
      oneOf:
      - $ref: '#/components/schemas/UserDefinedEntityMetadata'
      - $ref: '#/components/schemas/DerivedEntityMetadata'
    UserOrDerivedOrOrchestratedEntityMetadata:
      discriminator:
        propertyName: origin
        mapping:
          USER_DEFINED: '#/components/schemas/UserDefinedEntityMetadata'
          DERIVED: '#/components/schemas/DerivedEntityMetadata'
          ORCHESTRATED: '#/components/schemas/OrchestratedEntityMetadata'
      oneOf:
      - $ref: '#/components/schemas/UserDefinedEntityMetadata'
      - $ref: '#/components/schemas/DerivedEntityMetadata'
      - $ref: '#/components/schemas/OrchestratedEntityMetadata'
    UserOrOrchestratedEntityMetadata:
      discriminator:
        propertyName: origin
        mapping:
          USER_DEFINED: '#/components/schemas/UserDefinedEntityMetadata'
          ORCHESTRATED: '#/components/schemas/OrchestratedEntityMetadata'
      oneOf:
      - $ref: '#/components/schemas/UserDefinedEntityMetadata'
      - $ref: '#/components/schemas/OrchestratedEntityMetadata'
    UserOrSystemDefinedEntityMetadata:
      discriminator:
        propertyName: origin
        mapping:
          USER_DEFINED: '#/components/schemas/UserDefinedEntityMetadata'
          SYSTEM_DEFINED: '#/components/schemas/SystemDefinedEntityMetadata'
      oneOf:
      - $ref: '#/components/schemas/UserDefinedEntityMetadata'
      - $ref: '#/components/schemas/SystemDefinedEntityMetadata'
    UserOrSystemDefinedOrOrchestratedEntityMetadata:
      discriminator:
        propertyName: origin
        mapping:
          USER_DEFINED: '#/components/schemas/UserDefinedEntityMetadata'
          SYSTEM_DEFINED: '#/components/schemas/SystemDefinedEntityMetadata'
          ORCHESTRATED: '#/components/schemas/OrchestratedEntityMetadata'
      oneOf:
      - $ref: '#/components/schemas/UserDefinedEntityMetadata'
      - $ref: '#/components/schemas/SystemDefinedEntityMetadata'
      - $ref: '#/components/schemas/OrchestratedEntityMetadata'
    WifiBroadcastDetails:
      discriminator:
        propertyName: type
        mapping:
          STANDARD: '#/components/schemas/IntegrationStandardWifiBroadcastDetailDto'
          IOT_OPTIMIZED: '#/components/schemas/IntegrationIotOptimizedWifiBroadcastDetailDto'
      properties:
        type:
          type: string
        id:
          type: string
          format: uuid
        name:
          type: string
        metadata:
          $ref: '#/components/schemas/UserOrDerivedOrOrchestratedEntityMetadata'
        enabled:
          type: boolean
        network:
          $ref: '#/components/schemas/WifiNetworkReference'
        securityConfiguration:
          $ref: '#/components/schemas/WifiSecurityConfigurationDetailObject'
        broadcastingDeviceFilter:
          $ref: '#/components/schemas/BroadcastingDeviceFilter'
          description: Defines the custom scope of devices that will broadcast this
            WiFi network. If null, the WiFi network will be broadcast by all Access
            Point capable devices.
        mdnsProxyConfiguration:
          $ref: '#/components/schemas/MDNSFilteringConfiguration'
        multicastFilteringPolicy:
          $ref: '#/components/schemas/MulticastFilteringPolicy'
        multicastToUnicastConversionEnabled:
          type: boolean
        clientIsolationEnabled:
          type: boolean
        hideName:
          type: boolean
        uapsdEnabled:
          type: boolean
          description: Indicates whether Unscheduled Automatic Power Save Delivery
            (U-APSD) is enabled
        basicDataRateKbpsByFrequencyGHz:
          $ref: '#/components/schemas/IntegrationWifiBasicDataRateConfigurationDto'
        clientFilteringPolicy:
          $ref: '#/components/schemas/IntegrationWifiClientFilteringPolicyDto'
          description: Client connection filtering policy. Allow/restrict access to
            the WiFi network based on client device MAC addresses.
        blackoutScheduleConfiguration:
          $ref: '#/components/schemas/IntegrationBlackoutScheduleConfiguration'
      required:
      - clientIsolationEnabled
      - enabled
      - hideName
      - id
      - metadata
      - multicastToUnicastConversionEnabled
      - name
      - securityConfiguration
      - type
      - uapsdEnabled
    AddressIPv4Matching:
      allOf:
      - $ref: '#/components/schemas/IPv4Matching'
      - type: object
        properties:
          value:
            type: string
            description: IPv4 address
            example: 192.168.1.5
      required:
      - value
    AddressIPv6Matching:
      allOf:
      - $ref: '#/components/schemas/IPv6Matching'
      - type: object
        properties:
          value:
            type: string
            description: IPv6 address
            example: 2001:0db8:85a3:0000:0000:8a2e:0370:7334
      required:
      - value
    AddressRangeIPv4Matching:
      allOf:
      - $ref: '#/components/schemas/IPv4Matching'
      - type: object
        properties:
          start:
            type: string
            description: IPv4 start address
            example: 192.168.1.10
          stop:
            type: string
            description: IPv4 stop address
            example: 192.168.1.20
      required:
      - start
      - stop
    CreateOrUpdateTrafficMatchingList:
      discriminator:
        propertyName: type
        mapping:
          PORTS: '#/components/schemas/IntegrationPortTrafficMatchingListCreateUpdateDto'
          IPV4_ADDRESSES: '#/components/schemas/IntegrationIpV4TrafficMatchingListCreateUpdateDto'
          IPV6_ADDRESSES: '#/components/schemas/IntegrationIpV6TrafficMatchingListCreateUpdateDto'
      properties:
        type:
          type: string
        name:
          type: string
          example: Allowed port list|Protected IP list
      required:
      - name
      - type
    IPv4Matching:
      discriminator:
        propertyName: type
        mapping:
          IP_ADDRESS: '#/components/schemas/AddressIPv4Matching'
          SUBNET: '#/components/schemas/SubnetIPv4Matching'
          IP_ADDRESS_RANGE: '#/components/schemas/AddressRangeIPv4Matching'
      oneOf:
      - $ref: '#/components/schemas/AddressIPv4Matching'
      - $ref: '#/components/schemas/SubnetIPv4Matching'
      - $ref: '#/components/schemas/AddressRangeIPv4Matching'
    IPv6Matching:
      discriminator:
        propertyName: type
        mapping:
          IP_ADDRESS: '#/components/schemas/AddressIPv6Matching'
          SUBNET: '#/components/schemas/SubnetIPv6Matching'
      oneOf:
      - $ref: '#/components/schemas/AddressIPv6Matching'
      - $ref: '#/components/schemas/SubnetIPv6Matching'
    IntegrationIpV4TrafficMatchingListCreateUpdateDto:
      allOf:
      - $ref: '#/components/schemas/CreateOrUpdateTrafficMatchingList'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/IPv4Matching'
            minItems: 1
      required:
      - items
      - name
    IntegrationIpV6TrafficMatchingListCreateUpdateDto:
      allOf:
      - $ref: '#/components/schemas/CreateOrUpdateTrafficMatchingList'
      - type: object
        properties:
          items:
            type: array
[...]
